@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?cq7s40');
  src: url('../fonts/icomoon.eot?cq7s40#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?cq7s40') format('truetype'), url('../fonts/icomoon.woff?cq7s40') format('woff'), url('../fonts/icomoon.svg?cq7s40#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-add:before {
  content: "\e900";
}
.icon-cancle:before {
  content: "\e901";
}
.icon-delete:before {
  content: "\e902";
}
.icon-edit:before {
  content: "\e903";
}
.icon-preview:before {
  content: "\e904";
}
.icon-share:before {
  content: "\e905";
}
.icon-time:before {
  content: "\e906";
}
@media only screen and (max-width: 1080px), only screen and (max-device-width: 1080px) {
  html,
  body {
    font-size: 168.75px;
  }
}
@media only screen and (max-width: 960px), only screen and (max-device-width: 960px) {
  html,
  body {
    font-size: 150px;
  }
}
@media only screen and (max-width: 800px), only screen and (max-device-width: 800px) {
  html,
  body {
    font-size: 125px;
  }
}
@media only screen and (max-width: 720px), only screen and (max-device-width: 720px) {
  html,
  body {
    font-size: 112.5px;
  }
}
@media only screen and (max-width: 640px), only screen and (max-device-width: 640px) {
  html,
  body {
    font-size: 100px;
  }
}
@media only screen and (max-width: 600px), only screen and (max-device-width: 600px) {
  html,
  body {
    font-size: 93.75px;
  }
}
@media only screen and (max-width: 540px), only screen and (max-device-width: 540px) {
  html,
  body {
    font-size: 84.375px;
  }
}
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  html,
  body {
    font-size: 75px;
  }
}
@media only screen and (max-width: 414px), only screen and (max-device-width: 414px) {
  html,
  body {
    font-size: 64.6875px;
  }
}
@media only screen and (max-width: 400px), only screen and (max-device-width: 400px) {
  html,
  body {
    font-size: 62.5px;
  }
}
@media only screen and (max-width: 375px), only screen and (max-device-width: 375px) {
  html,
  body {
    font-size: 58.59375px;
  }
}
@media only screen and (max-width: 360px), only screen and (max-device-width: 360px) {
  html,
  body {
    font-size: 56.25px;
  }
}
@media only screen and (max-width: 320px), only screen and (max-device-width: 320px) {
  html,
  body {
    font-size: 50px;
  }
}
@media only screen and (max-width: 240px), only screen and (max-device-width: 240px) {
  html,
  body {
    font-size: 37.5px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  width: 100%;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  display: block;
}
.clearfix::after {
  content: "";
  height: 0;
  line-height: 0;
  visibility: none;
  clear: both;
  display: block;
}
.view {
  padding-left: 0.24rem;
  padding-right: 0.24rem;
  background: #f7f4f1;
}
.view .cart .cart_title {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  font-size: 0.28rem;
}
.view .cart .cart_title h3 {
  line-height: 0;
  display: inline-block;
  font-weight: normal;
}
.view .cart .cart_title span {
  float: right;
  color: #888888;
}
.view .cart .cart_content {
  border-radius: 0.1rem;
  box-shadow: 0 0 3px 2px #ccc;
}
.view .cart .cart_content .cart_con_top {
  border-radius: 0.1rem;
  background: #55bc75;
  padding: 0.34rem;
  padding-top: 0.2rem;
  position: relative;
}
.view .cart .cart_content .cart_con_top .cart_ct_title1 {
  font-size: 0.46rem;
  color: white;
}
.view .cart .cart_content .cart_con_top .cart_ct_title2 {
  margin-top: 0.05rem;
  font-size: 0.24rem;
  color: #bdf3ce;
}
.view .cart .cart_content .cart_con_top .cart_ct_time {
  font-size: 0.22rem;
  color: white;
  margin-top: 0.6rem;
}
.view .cart .cart_content .cart_con_top .cart_ct_time a {
  float: right;
  padding: 1px 4px;
  background: #2a603b;
  border-radius: 0.05rem;
}
.view .cart .cart_content .cart_con_top::before {
  display: block;
  content: "";
  position: absolute;
  background-image: url("../images/sale.png");
  background-size: 1.46rem 1.46rem;
  top: -0.2rem;
  right: -0.06rem;
  width: 1.46rem;
  height: 1.46rem;
}
.view .cart .cart_content .cart_con_bottom {
  padding: .18rem 0;
  position: relative;
  background: white;
  font-size: 0.26rem;
}
.view .cart .cart_content .cart_con_bottom::before {
  display: block;
  content: "";
  position: absolute;
  top: -0.07rem;
  left: 0;
  background-image: url("../images/icon.png");
  background-size: .24rem .08rem;
  width: 100%;
  height: 0.08rem;
}
.view .cart .cart_content .cart_con_bottom a {
  color: #888888;
  float: left;
  width: 50%;
  text-align: center;
  padding-top: 0.05rem;
  padding-bottom: 0.05rem;
}
.view .cart .cart_content .cart_con_bottom a:first-child {
  border-right: 1px solid #ccc;
}
.view #five_cart {
  margin-bottom: 0.29rem;
}
.view #five_cart .cart_con_top {
  background: red;
}
.view #five_cart .cart_con_top .cart_ct_title1 {
  font-size: 0.24rem;
}
.view #five_cart .cart_con_top .cart_ct_title1 span {
  font-size: 0.7rem;
}
.view #five_cart .cart_con_top .cart_ct_time a {
  background: slateblue;
  color: whitesmoke;
}
.view #five_cart .cart_con_top .cart_ct_time p {
  margin-bottom: 0.1rem;
}
.view #twenty_cart .cart_con_top {
  background: red;
}
.view #twenty_cart .cart_con_top .cart_ct_title1 {
  font-size: 0.24rem;
}
.view #twenty_cart .cart_con_top .cart_ct_title1 span {
  font-size: 0.7rem;
}
.view #twenty_cart .cart_con_top .cart_ct_time a {
  background: slateblue;
  color: whitesmoke;
}
.view #twenty_cart .cart_con_top .cart_ct_time p {
  margin-bottom: 0.1rem;
}
.view #twenty_cart .cart_con_bottom a {
  color: #888888;
  float: left;
  width: 33.33%;
  text-align: center;
  padding-top: 0.05rem;
  padding-bottom: 0.05rem;
}
.view #twenty_cart .cart_con_bottom a:first-child,
.view #twenty_cart .cart_con_bottom a:nth-child(2) {
  border-right: 1px solid #ccc;
}
.view .add_cart {
  background: white;
  margin-top: 0.15rem;
  color: #aeaeae;
  border: 0.02rem dashed #ccc;
  padding: 0.42rem 0;
}
.view .add_cart .add_cart_cot {
  text-align: center;
  font-size: 0.26rem;
}
.view .add_cart .add_cart_cot span {
  font-size: 1rem;
}
.view footer {
  margin-top: 0.61rem;
}
.view footer p {
  color: #999;
  font-size: 0.24rem;
  margin-bottom: 0.2rem;
}
/*# sourceMappingURL=./index.css.map */